*.Makefile
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
cscope.*
Session.vim
tags
Thumbs.db
v8.log

#/tools/deps2git/
#/tools/distcc
#/tools/gn/bin/linux
#/tools/gn/bin/mac
#/tools/gn/bin/win
#/tools/grit
#/tools/gyp
#/tools/histograms
#/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
#/tools/page_cycler/acid3
#/tools/perf/data
#/tools/perf/results.html
#/tools/swarming_client
#/tools/tryserver
#/tools/win/link_limiter/build